Login Form
<form {{action "login" on="submit"}}>
  {{input value=username type="text" id="username"}} <br/>
  {{input value=password type="password" id="password"}} <br/>
  <button type="submit">Login</button>
</form>
